
////////////////////////////////////////////////////////////
//    ________________.-----------.___________________    //
//   |                |   //^\\   |               \   |   //
//   |   T I T L E    |  < CSS >  |   B  E  L  T   )  |   //
//   |________________|   \\.//   |_______________/___|   //
//                    `-----------'                       //
//   Zot, Brandtley                                       //
////////////////////////////////////////////////////////////


$cell-padding = 0.75rem


form,
.form
  display: block
  width: $whole
  border: 1px solid buttonface
  border-top: 0
  border-left: 0


  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6
    border: 1px solid buttonface
    border-bottom: 0
    border-right: 0
    padding: $cell-padding
    background-color: buttonface



label
  padding: $cell-padding
  vertical-align: baseline
  border: 1px solid buttonface
  border-right: 0
  border-bottom: 0


  input,
  select
    appearance(none)
    box-sizing: border-box
    width: $whole
    border: 0
    border-bottom: 1px solid buttonface
    line-height: $line-height
    padding: 0.5rem $cell-padding


select
  option
    min-height: 1rem
    line-height: $line-height
