
////////////////////////////////////////////////////////////
//    ________________.-----------.___________________    //
//   |                |   //^\\   |               \   |   //
//   |   T I T L E    |  < CSS >  |   B  E  L  T   )  |   //
//   |________________|   \\.//   |_______________/___|   //
//                    `-----------'                       //
//   Zot, Brandtley                                       //
////////////////////////////////////////////////////////////



$line-height = 1.5rem



html
  line-height: $line-height


code
  background-color: $dimgray
  color: #3e3e3e
  border-radius: 3px
  padding: 0.25rem


pre
  code
    background-color: transparent
    padding: 0


//
// Modifier classes
//

.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right
