
/* line 150 : D:\github\title-belt\tests\stylus\_test.styl */

/* line 1 : D:\github\title-belt\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 286 : D:\github\title-belt\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 20 : D:\github\title-belt\stylus\main.styl */

/* line 20 : D:\github\title-belt\stylus\main.styl */

/* line 12 : D:\github\title-belt\stylus\_colors.styl */

/* line 15 : D:\github\title-belt\stylus\_colors.styl */

/* line 1 : D:\github\title-belt\stylus\_mixins.styl */

/* line 15 : D:\github\title-belt\stylus\_mixins.styl */

/* line 5 : D:\github\title-belt\stylus\_normalize.styl */

/* line 6 : D:\github\title-belt\stylus\_normalize.styl */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

/* line 14 : D:\github\title-belt\stylus\_normalize.styl */
body {
  margin: 0;
}

/* line 19 : D:\github\title-belt\stylus\_normalize.styl */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 33 : D:\github\title-belt\stylus\_normalize.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 51 : D:\github\title-belt\stylus\_normalize.styl */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 61 : D:\github\title-belt\stylus\_normalize.styl */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 68 : D:\github\title-belt\stylus\_normalize.styl */
[hidden],
template {
  display: none;
}

/* line 78 : D:\github\title-belt\stylus\_normalize.styl */
a {
  background-color: transparent;
}

/* line 84 : D:\github\title-belt\stylus\_normalize.styl */
a:active,
a:hover {
  outline: 0;
}

/* line 94 : D:\github\title-belt\stylus\_normalize.styl */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 99 : D:\github\title-belt\stylus\_normalize.styl */
b,
strong {
  font-weight: bold;
}

/* line 105 : D:\github\title-belt\stylus\_normalize.styl */
dfn {
  font-style: italic;
}

/* line 111 : D:\github\title-belt\stylus\_normalize.styl */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 117 : D:\github\title-belt\stylus\_normalize.styl */
mark {
  background: #ff0;
  color: #000;
}

/* line 123 : D:\github\title-belt\stylus\_normalize.styl */
small {
  font-size: 80%;
}

/* line 128 : D:\github\title-belt\stylus\_normalize.styl */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 136 : D:\github\title-belt\stylus\_normalize.styl */
sup {
  top: -0.5em;
}

/* line 140 : D:\github\title-belt\stylus\_normalize.styl */
sub {
  bottom: -0.25em;
}

/* line 149 : D:\github\title-belt\stylus\_normalize.styl */
img {
  border: 0;
}

/* line 154 : D:\github\title-belt\stylus\_normalize.styl */
svg:not(:root) {
  overflow: hidden;
}

/* line 163 : D:\github\title-belt\stylus\_normalize.styl */
figure {
  margin: 1em 40px;
}

/* line 168 : D:\github\title-belt\stylus\_normalize.styl */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 174 : D:\github\title-belt\stylus\_normalize.styl */
pre {
  overflow: auto;
}

/* line 179 : D:\github\title-belt\stylus\_normalize.styl */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 198 : D:\github\title-belt\stylus\_normalize.styl */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 209 : D:\github\title-belt\stylus\_normalize.styl */
button {
  overflow: visible;
}

/* line 217 : D:\github\title-belt\stylus\_normalize.styl */
button,
select {
  text-transform: none;
}

/* line 227 : D:\github\title-belt\stylus\_normalize.styl */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 236 : D:\github\title-belt\stylus\_normalize.styl */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 242 : D:\github\title-belt\stylus\_normalize.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 250 : D:\github\title-belt\stylus\_normalize.styl */
input {
  line-height: normal;
}

/* line 259 : D:\github\title-belt\stylus\_normalize.styl */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 268 : D:\github\title-belt\stylus\_normalize.styl */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 275 : D:\github\title-belt\stylus\_normalize.styl */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 283 : D:\github\title-belt\stylus\_normalize.styl */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 289 : D:\github\title-belt\stylus\_normalize.styl */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 297 : D:\github\title-belt\stylus\_normalize.styl */
legend {
  border: 0;
  padding: 0;
}

/* line 303 : D:\github\title-belt\stylus\_normalize.styl */
textarea {
  overflow: auto;
}

/* line 309 : D:\github\title-belt\stylus\_normalize.styl */
optgroup {
  font-weight: bold;
}

/* line 318 : D:\github\title-belt\stylus\_normalize.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 323 : D:\github\title-belt\stylus\_normalize.styl */
td,
th {
  padding: 0;
}

/* line 325 : D:\github\title-belt\stylus\_normalize.styl */

/* line 13 : D:\github\title-belt\stylus\_typography.styl */

/* line 17 : D:\github\title-belt\stylus\_typography.styl */
html {
  line-height: 1.5rem;
}

/* line 21 : D:\github\title-belt\stylus\_typography.styl */
code {
  background-color: #ddd;
  color: #3e3e3e;
  border-radius: 3px;
  padding: 0.25rem;
}

/* line 28 : D:\github\title-belt\stylus\_typography.styl */

/* line 29 : D:\github\title-belt\stylus\_typography.styl */
pre code {
  background-color: transparent;
  padding: 0;
}

/* line 38 : D:\github\title-belt\stylus\_typography.styl */
.text-left {
  text-align: left;
}

/* line 41 : D:\github\title-belt\stylus\_typography.styl */
.text-center {
  text-align: center;
}

/* line 44 : D:\github\title-belt\stylus\_typography.styl */
.text-right {
  text-align: right;
}

/* line 45 : D:\github\title-belt\stylus\_typography.styl */

/* line 17 : D:\github\title-belt\stylus\_grid.styl */

/* line 49 : D:\github\title-belt\stylus\_grid.styl */
.hr,
.spacer {
  margin: 2rem 0;
}

/* line 54 : D:\github\title-belt\stylus\_grid.styl */
.hr {
  height: 0;
  border-bottom: 2px solid $graylight;
}

/* line 63 : D:\github\title-belt\stylus\_grid.styl */
body > .container {
  padding: 1rem;
}

/* line 67 : D:\github\title-belt\stylus\_grid.styl */
.container,
.row {
  display: block;
  width: 100%;
  font-size: 0;
  line-height: 0;
}

/* line 75 : D:\github\title-belt\stylus\_grid.styl */
.container.max,
.row.max {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* line 80 : D:\github\title-belt\stylus\_grid.styl */
.container.center,
.row.center {
  text-align: center;
}

/* line 84 : D:\github\title-belt\stylus\_grid.styl */
.col {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 100%;
  vertical-align: top;
  font-size: initial;
  line-height: 1.5rem;
  text-align: initial;
}

/* line 95 : D:\github\title-belt\stylus\_grid.styl */
.col.vcenter {
  vertical-align: center;
}

/* line 98 : D:\github\title-belt\stylus\_grid.styl */
.col.vbaseline {
  vertical-align: baseline;
}

/* line 102 : D:\github\title-belt\stylus\_grid.styl */
.col.whole {
  width: 100%;
}

/* line 107 : D:\github\title-belt\stylus\_grid.styl */
.col.half {
  width: 50%;
}

/* line 112 : D:\github\title-belt\stylus\_grid.styl */
.col.third {
  width: 33.33333333%;
}

/* line 115 : D:\github\title-belt\stylus\_grid.styl */
.col.two-third {
  width: 66.66666666%;
}

/* line 120 : D:\github\title-belt\stylus\_grid.styl */
.col.fourth {
  width: 25%;
}

/* line 123 : D:\github\title-belt\stylus\_grid.styl */
.col.three-fourth {
  width: 75%;
}

/* line 128 : D:\github\title-belt\stylus\_grid.styl */
.col.fifth {
  width: 20%;
}

/* line 131 : D:\github\title-belt\stylus\_grid.styl */
.col.two-fifth {
  width: 40%;
}

/* line 134 : D:\github\title-belt\stylus\_grid.styl */
.col.three-fifth {
  width: 60%;
}

/* line 137 : D:\github\title-belt\stylus\_grid.styl */
.col.four-fifth {
  width: 80%;
}

/* line 142 : D:\github\title-belt\stylus\_grid.styl */
.col.sixth {
  width: 16.66666667%;
}

/* line 145 : D:\github\title-belt\stylus\_grid.styl */
.col.five-sixth {
  width: 83.33333335%;
}

/* line 150 : D:\github\title-belt\stylus\_grid.styl */
.col.seventh {
  width: 14.28571429%;
}

/* line 153 : D:\github\title-belt\stylus\_grid.styl */
.col.two-seventh {
  width: 28.57142858%;
}

/* line 156 : D:\github\title-belt\stylus\_grid.styl */
.col.three-seventh {
  width: 42.85714287%;
}

/* line 159 : D:\github\title-belt\stylus\_grid.styl */
.col.four-seventh {
  width: 57.14285716%;
}

/* line 162 : D:\github\title-belt\stylus\_grid.styl */
.col.five-seventh {
  width: 71.42857145%;
}

/* line 165 : D:\github\title-belt\stylus\_grid.styl */
.col.six-seventh {
  width: 85.71428574%;
}

/* line 170 : D:\github\title-belt\stylus\_grid.styl */
.col.eighth {
  width: 12.5%;
}

/* line 173 : D:\github\title-belt\stylus\_grid.styl */
.col.three-eighth {
  width: 37.5%;
}

/* line 176 : D:\github\title-belt\stylus\_grid.styl */
.col.five-eighth {
  width: 62.5%;
}

/* line 179 : D:\github\title-belt\stylus\_grid.styl */
.col.seven-eighth {
  width: 87.5%;
}

/* line 184 : D:\github\title-belt\stylus\_grid.styl */
.col.tenth {
  width: 10%;
}

/* line 187 : D:\github\title-belt\stylus\_grid.styl */
.col.three-tenth {
  width: 30%;
}

/* line 190 : D:\github\title-belt\stylus\_grid.styl */
.col.four-tenth {
  width: 40%;
}

/* line 193 : D:\github\title-belt\stylus\_grid.styl */
.col.sixth-tenth {
  width: 60%;
}

/* line 196 : D:\github\title-belt\stylus\_grid.styl */
.col.seven-tenth {
  width: 70%;
}

/* line 199 : D:\github\title-belt\stylus\_grid.styl */
.col.nine-tenth {
  width: 90%;
}
@media all and (min-width: 0) {

/* line 209 : D:\github\title-belt\stylus\_grid.styl */

/* line 210 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="whole"] {
    width: 100%;
  }

/* line 213 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="half"] {
    width: 50%;
  }

/* line 217 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="third"] {
    width: 33.33333333%;
  }

/* line 220 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="two-third"] {
    width: 66.66666666%;
  }

/* line 224 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="fourth"] {
    width: 25%;
  }

/* line 227 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="three-fourth"] {
    width: 75%;
  }

/* line 231 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="fifth"] {
    width: 20%;
  }

/* line 234 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="two-fifth"] {
    width: 40%;
  }

/* line 237 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="three-fifth"] {
    width: 60%;
  }

/* line 240 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="four-fifth"] {
    width: 80%;
  }

/* line 244 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="sixth"] {
    width: 16.66666667%;
  }

/* line 247 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="five-sixth"] {
    width: 83.33333335%;
  }

/* line 251 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="seventh"] {
    width: 14.28571429%;
  }

/* line 254 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="two-seventh"] {
    width: 28.57142858%;
  }

/* line 257 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="three-seventh"] {
    width: 42.85714287%;
  }

/* line 260 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="four-seventh"] {
    width: 57.14285716%;
  }

/* line 263 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="five-seventh"] {
    width: 71.42857145%;
  }

/* line 266 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="six-seventh"] {
    width: 85.71428574%;
  }

/* line 270 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="eighth"] {
    width: 12.5%;
  }

/* line 273 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="three-eighth"] {
    width: 37.5%;
  }

/* line 276 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="five-eighth"] {
    width: 62.5%;
  }

/* line 279 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="seven-eighth"] {
    width: 87.5%;
  }

/* line 283 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="tenth"] {
    width: 10%;
  }

/* line 286 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="three-tenth"] {
    width: 30%;
  }

/* line 289 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="four-tenth"] {
    width: 40%;
  }

/* line 292 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="sixth-tenth"] {
    width: 60%;
  }

/* line 295 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="seven-tenth"] {
    width: 70%;
  }

/* line 298 : D:\github\title-belt\stylus\_grid.styl */
  .col[mobile="nine-tenth"] {
    width: 90%;
  }
}
@media all and (min-width: 480px) {

/* line 309 : D:\github\title-belt\stylus\_grid.styl */

/* line 310 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="whole"] {
    width: 100%;
  }

/* line 313 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="half"] {
    width: 50%;
  }

/* line 317 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="third"] {
    width: 33.33333333%;
  }

/* line 320 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="two-third"] {
    width: 66.66666666%;
  }

/* line 324 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="fourth"] {
    width: 25%;
  }

/* line 327 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="three-fourth"] {
    width: 75%;
  }

/* line 331 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="fifth"] {
    width: 20%;
  }

/* line 334 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="two-fifth"] {
    width: 40%;
  }

/* line 337 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="three-fifth"] {
    width: 60%;
  }

/* line 340 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="four-fifth"] {
    width: 80%;
  }

/* line 344 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="sixth"] {
    width: 16.66666667%;
  }

/* line 347 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="five-sixth"] {
    width: 83.33333335%;
  }

/* line 351 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="seventh"] {
    width: 14.28571429%;
  }

/* line 354 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="two-seventh"] {
    width: 28.57142858%;
  }

/* line 357 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="three-seventh"] {
    width: 42.85714287%;
  }

/* line 360 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="four-seventh"] {
    width: 57.14285716%;
  }

/* line 363 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="five-seventh"] {
    width: 71.42857145%;
  }

/* line 366 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="six-seventh"] {
    width: 85.71428574%;
  }

/* line 370 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="eighth"] {
    width: 12.5%;
  }

/* line 373 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="three-eighth"] {
    width: 37.5%;
  }

/* line 376 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="five-eighth"] {
    width: 62.5%;
  }

/* line 379 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="seven-eighth"] {
    width: 87.5%;
  }

/* line 383 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="tenth"] {
    width: 10%;
  }

/* line 386 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="three-tenth"] {
    width: 30%;
  }

/* line 389 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="four-tenth"] {
    width: 40%;
  }

/* line 392 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="sixth-tenth"] {
    width: 60%;
  }

/* line 395 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="seven-tenth"] {
    width: 70%;
  }

/* line 398 : D:\github\title-belt\stylus\_grid.styl */
  .col[tablet="nine-tenth"] {
    width: 90%;
  }
}
@media all and (min-width: 1024px) {

/* line 408 : D:\github\title-belt\stylus\_grid.styl */

/* line 409 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="whole"] {
    width: 100%;
  }

/* line 412 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="half"] {
    width: 50%;
  }

/* line 416 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="third"] {
    width: 33.33333333%;
  }

/* line 419 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="two-third"] {
    width: 66.66666666%;
  }

/* line 423 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="fourth"] {
    width: 25%;
  }

/* line 426 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="three-fourth"] {
    width: 75%;
  }

/* line 430 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="fifth"] {
    width: 20%;
  }

/* line 433 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="two-fifth"] {
    width: 40%;
  }

/* line 436 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="three-fifth"] {
    width: 60%;
  }

/* line 439 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="four-fifth"] {
    width: 80%;
  }

/* line 443 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="sixth"] {
    width: 16.66666667%;
  }

/* line 446 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="five-sixth"] {
    width: 83.33333335%;
  }

/* line 450 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="seventh"] {
    width: 14.28571429%;
  }

/* line 453 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="two-seventh"] {
    width: 28.57142858%;
  }

/* line 456 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="three-seventh"] {
    width: 42.85714287%;
  }

/* line 459 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="four-seventh"] {
    width: 57.14285716%;
  }

/* line 462 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="five-seventh"] {
    width: 71.42857145%;
  }

/* line 465 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="six-seventh"] {
    width: 85.71428574%;
  }

/* line 469 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="eighth"] {
    width: 12.5%;
  }

/* line 472 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="three-eighth"] {
    width: 37.5%;
  }

/* line 475 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="five-eighth"] {
    width: 62.5%;
  }

/* line 478 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="seven-eighth"] {
    width: 87.5%;
  }

/* line 482 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="tenth"] {
    width: 10%;
  }

/* line 485 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="three-tenth"] {
    width: 30%;
  }

/* line 488 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="four-tenth"] {
    width: 40%;
  }

/* line 491 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="sixth-tenth"] {
    width: 60%;
  }

/* line 494 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="seven-tenth"] {
    width: 70%;
  }

/* line 497 : D:\github\title-belt\stylus\_grid.styl */
  .col[desktop="nine-tenth"] {
    width: 90%;
  }
}

/* line 498 : D:\github\title-belt\stylus\_grid.styl */

/* line 12 : D:\github\title-belt\stylus\_button.styl */

/* line 15 : D:\github\title-belt\stylus\_button.styl */
button,
.button,
[type="button"],
[type="submit"],
[type="reset"] {
  display: inline-block;
  border: 0;
  padding: 0.5rem 0.8rem;
  line-height: 1.5rem;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
}

/* line 28 : D:\github\title-belt\stylus\_button.styl */
button:active,
.button:active,
[type="button"]:active,
[type="submit"]:active,
[type="reset"]:active {
  background-color: #c7c7c7;
}

/* line 31 : D:\github\title-belt\stylus\_button.styl */
button.rounded,
.button.rounded,
[type="button"].rounded,
[type="submit"].rounded,
[type="reset"].rounded {
  border-radius: 3px;
}

/* line 34 : D:\github\title-belt\stylus\_button.styl */
button.circle,
.button.circle,
[type="button"].circle,
[type="submit"].circle,
[type="reset"].circle {
  border-radius: 100%;
  padding: 1rem;
}

/* line 40 : D:\github\title-belt\stylus\_button.styl */

/* line 41 : D:\github\title-belt\stylus\_button.styl */
.rounded button,
.rounded .button,
.rounded [type="button"],
.rounded [type="submit"],
.rounded [type="reset"] {
  border-radius: 3px;
}

/* line 46 : D:\github\title-belt\stylus\_button.styl */

/* line 12 : D:\github\title-belt\stylus\_form.styl */

/* line 15 : D:\github\title-belt\stylus\_form.styl */
form,
.form {
  display: block;
  width: 100%;
  border-top: 0;
  border-left: 0;
}

/* line 23 : D:\github\title-belt\stylus\_form.styl */
form h1,
.form h1,
form .h1,
.form .h1,
form h2,
.form h2,
form .h2,
.form .h2,
form h3,
.form h3,
form .h3,
.form .h3,
form h4,
.form h4,
form .h4,
.form .h4,
form h5,
.form h5,
form .h5,
.form .h5,
form h6,
.form h6,
form .h6,
.form .h6 {
  padding: 0.75rem;
}

/* line 32 : D:\github\title-belt\stylus\_form.styl */
label {
  padding: 0.75rem;
  vertical-align: middle;
}

/* line 37 : D:\github\title-belt\stylus\_form.styl */
label [type="text"],
label [type="url"],
label [type="number"],
label [type="email"],
label [type="tel"],
label select {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid buttonface;
  line-height: 1.5rem;
  padding: 0.5rem 0;
}

/* line 69 : D:\github\title-belt\stylus\_form.styl */

/* line 70 : D:\github\title-belt\stylus\_form.styl */
select option {
  min-height: 1rem;
  line-height: 1.5rem;
}

/* line 75 : D:\github\title-belt\stylus\_form.styl */

/* line 76 : D:\github\title-belt\stylus\_form.styl */
.col > label {
  display: block;
}

/* line 14 : D:\github\title-belt\tests\stylus\_test.styl */
.blue {
  background-color: #57bcff;
}

/* line 17 : D:\github\title-belt\tests\stylus\_test.styl */
.violet {
  background-color: #c672ff;
}

/* line 20 : D:\github\title-belt\tests\stylus\_test.styl */
.magenta {
  background-color: #ff82cc;
}

/* line 23 : D:\github\title-belt\tests\stylus\_test.styl */
.orange {
  background-color: #ffc66f;
}

/* line 26 : D:\github\title-belt\tests\stylus\_test.styl */
.yellow {
  background-color: #ffff94;
}

/* line 29 : D:\github\title-belt\tests\stylus\_test.styl */
.green {
  background-color: #9fa;
}

/* line 33 : D:\github\title-belt\tests\stylus\_test.styl */
img {
  display: inline-block;
  width: 100%;
}

/* line 38 : D:\github\title-belt\tests\stylus\_test.styl */

/* line 39 : D:\github\title-belt\tests\stylus\_test.styl */
.demo-nested-containers .col {
  padding: 1rem;
}

/* line 43 : D:\github\title-belt\tests\stylus\_test.styl */
.demo {
  padding: 0.5rem;
}

/* line 46 : D:\github\title-belt\tests\stylus\_test.styl */
.demo code {
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  background-color: transparent;
}

/* line 53 : D:\github\title-belt\tests\stylus\_test.styl */

/* line 54 : D:\github\title-belt\tests\stylus\_test.styl */

/* line 55 : D:\github\title-belt\tests\stylus\_test.styl */
.demo-dynamic-columns .demo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3c3c3c;
  color: #f3f3f3;
  padding: 0.5rem 1rem;
}

/* line 73 : D:\github\title-belt\tests\stylus\_test.styl */
form,
.form {
  border: 1px solid buttonface;
  border-top: 0;
  border-left: 0;
  border-radius: 5px;
  overflow: hidden;
}

/* line 81 : D:\github\title-belt\tests\stylus\_test.styl */
form h1,
.form h1,
form .h1,
.form .h1,
form h2,
.form h2,
form .h2,
.form .h2,
form h3,
.form h3,
form .h3,
.form .h3,
form h4,
.form h4,
form .h4,
.form .h4,
form h5,
.form h5,
form .h5,
.form .h5,
form h6,
.form h6,
form .h6,
.form .h6 {
  border: 1px solid buttonface;
  border-bottom: 0;
  border-right: 0;
  background-color: #eee;
  margin: 0;
  font-size: 1rem;
}

/* line 95 : D:\github\title-belt\tests\stylus\_test.styl */
form button,
.form button,
form .button,
.form .button,
form [type="button"],
.form [type="button"],
form [type="submit"],
.form [type="submit"],
form [type="reset"],
.form [type="reset"] {
  text-align: center;
}

/* line 102 : D:\github\title-belt\tests\stylus\_test.styl */
form [type="reset"],
.form [type="reset"] {
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

/* line 106 : D:\github\title-belt\tests\stylus\_test.styl */
form [type="reset"]:hover,
.form [type="reset"]:hover {
  opacity: 1;
}

/* line 110 : D:\github\title-belt\tests\stylus\_test.styl */
label {
  border: 1px solid buttonface;
  border-right: 0;
  border-bottom: 0;
}

/* line 116 : D:\github\title-belt\tests\stylus\_test.styl */
label [type="text"],
label [type="url"],
label [type="number"],
label [type="email"],
label [type="tel"],
label select {
  border: 0;
  border-bottom: 1px solid buttonface;
  transition: all 0.2s linear;
}

/* line 126 : D:\github\title-belt\tests\stylus\_test.styl */
label [type="text"]:focus,
label [type="url"]:focus,
label [type="number"]:focus,
label [type="email"]:focus,
label [type="tel"]:focus,
label select:focus {
  outline: 0;
  border-bottom-color: #f90;
}

/* line 132 : D:\github\title-belt\tests\stylus\_test.styl */
@media all and (min-width: 0) {

/* line 133 : D:\github\title-belt\tests\stylus\_test.styl */

/* line 134 : D:\github\title-belt\tests\stylus\_test.styl */

/* line 135 : D:\github\title-belt\tests\stylus\_test.styl */
  .demo-dynamic-columns .demo::before {
    content: "mobile: " attr(mobile);
  }
}

/* line 139 : D:\github\title-belt\tests\stylus\_test.styl */
@media all and (min-width: 480px) {

/* line 140 : D:\github\title-belt\tests\stylus\_test.styl */

/* line 141 : D:\github\title-belt\tests\stylus\_test.styl */

/* line 142 : D:\github\title-belt\tests\stylus\_test.styl */
  .demo-dynamic-columns .demo::before {
    content: "tablet: " attr(tablet);
  }
}

/* line 146 : D:\github\title-belt\tests\stylus\_test.styl */
@media all and (min-width: 1024px) {

/* line 147 : D:\github\title-belt\tests\stylus\_test.styl */

/* line 148 : D:\github\title-belt\tests\stylus\_test.styl */

/* line 149 : D:\github\title-belt\tests\stylus\_test.styl */
  .demo-dynamic-columns .demo::before {
    content: "desktop: " attr(desktop);
  }
}
