
$z      = 10
$zz     = ($z * 10)
$zzz    = ($zz * 10)
$zzzz   = ($zzz * 10)

.app-sidebar
    width: var(--sidebar-width)
    position: fixed
    z-index: $zzzz
    height: 100vh
    left: 0
    border-right: 1px solid $border-color
    background-color: $white
    transform: translate(-100%, 0)
    transition: transform ease 0.3s

    &.open
        transform: translate(0,0)

        #main-nav-toggle
            right: 1rem

            i:before
                content: "\f00d"


@media (max-width: ($bp-lappy - 1))
    .app-sidebar.open + .app-main-container
        opacity: 0.3
        filter: blur(2px);

#main-nav-toggle
    position: absolute
    right: -60px
    top: calc(var(--topbar-height)/4)


.app-main-container
    position: relative
    padding-top: var(--topbar-height)
    z-index: $zz
    transition: opacity ease 0.3s
    margin-left: auto
    margin-right: 0


.app-top-bar
    position: fixed
    z-index: $zzz
    top: 0
    height: var(--topbar-height)
    width: 100%
    background-color: $app-topbar-bg-color
    border-bottom: 1px solid $border-color



@media (min-width: 1024px)
    .app-sidebar
        left: 0
        transform: none
        transition: none


    #main-nav-toggle
        display: none


    // NOTE: context hiccup, scroll bar does some gnarly stuff on windows where scrollbar width is not factored into the calc of 100vw
    .touch
        .app-top-bar,
        .app-main-container
            width: calc(var(--main-container-width) + var(--webkit-scrollbar-width))

    .app-main-container,
    .app-top-bar
        width: var(--main-container-width)


