$active-color = $red

$app-nav-link-color = $black



.app-navbar
    border: 1px solid $border-color
    border-right: 0
    border-left: 0
//     background-color: lighten($primary-color, 85%)


.app-nav-link
    a:link
        color: $app-nav-link-color
        display: block
        padding: 0.5rem 1rem
        border-left: 3px solid transparent
        text-decoration: none
        transition: all $transition

    a.active,
    a:hover
        color: $active-color
        background-color: rgba(0,0,0,.1)

    a.active
        border-left-color: $active-color
