
// =============================================
// BUTTON VARIABLES
// =============================================

$button-icon-spacing = 0.4rem


// =============================================
// BUTTON STYLES
// =============================================

// NOTE: <a> tags to be styled like buttons require a modifier class to do so

button,
.btn
    color: $white
    border-radius: $border-radius
    padding: $component-padding
    border: 1px solid $primary-color
    appearance: none
    background-color: $primary-color
    text-align: center
    font-size: initial
    transition: all ease 0.3s

    &:hover
        cursor: pointer

    &[disabled]
    &[disabled]:hover
        border-color: darken($disabled-color, 20%)
        background-color: $white
        color: darken($disabled-color, 20%)


button + button,
.btn + .btn
    margin-bottom: 0.5rem


// =============================================
// BUTTON ICON STYLES
// =============================================

.btn-icon-left
    margin-right: $button-icon-spacing

.btn-icon-right
    margin-left: $button-icon-spacing



// MIXIN: _btn
//  Generates a set of button styles using the provided defaults
// ------------------------------
_btn($NAME, $COLOR)

    .btn-{$NAME}
        background-color: $COLOR
        border-color: $COLOR
        // text-shadow: 0 0 1px rgba(0, 0, 0, 0.6)

    .btn-{$NAME}-outline
        background-color: transparent
        border-color: initial
        color: $COLOR

    .btn-{$NAME}:hover,
    .btn-{$NAME}.active,
    .btn-{$NAME}[aria-pressed="true"]
        background-color: darken($COLOR, DARKEN_COLORS)

    .btn-{$NAME}-outline:hover,
    .btn-{$NAME}-outline.active,
    .btn-{$NAME}-outline[aria-pressed="true"]
        color: $white
        border-color: darken($COLOR, DARKEN_COLORS)
        background-color: darken($COLOR, DARKEN_COLORS)



// =============================================
// BUTTON STATE STYLES
// =============================================

_btn(primary, $primary-color)
_btn(secondary, $secondary-color)
_btn(info, $info-color)
_btn(success, $success-color)
_btn(warning, $warning-color)
_btn(danger, $danger-color)



// =============================================
// BUTTON MODIFIERS
// =============================================

.btn-block
    display: block
    width: 100%

.btn-block + .btn-block
    margin-top: 0.5rem

