


a:link
    color: $primary-color
    transition: color $transition

a:visited
    color: $danger-color

a:hover, a:focus
    color: lighten($primary-color, 50%)

a:active
    color: lighten($primary-color, 50%)





.content
    section
        margin-bottom: 2rem

    section + section
        margin-top: 5rem





.text-left
    text-align: left
.text-center
    text-align: center
.text-right
    text-align: right

.text-1x
    font-size: 1em
.text-2x
    font-size: 2em
.text-3x
    font-size: 3em
.text-4x
    font-size: 4em

.text-muted
    opacity: 0.5

$content-margin = $grid-gutter-width

.content
    h1, h2, h3,
    .h1, .h2, .h3
        margin: $content-margin 0
        font-weight: bold

    h1, .h1
        font-size: 1.6rem

    h2, .h2
        font-size: 1.3rem

        &:after
            content: ''
            display: block
            width: 100%
            margin-top: $mt
            border-bottom: 1px solid $color-border

    p
        margin: $content-margin 0


// .grid >
//     h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
//         margin: 0

pre
    overflow-x: auto
    padding: 0.5rem 1rem
    color: $white
    background-color: #253352
    // background-color: $black
    border-radius: $border-radius
