
// TODO: update print styles

@media print

    .app-sidebar
        display: none

    .app-main-container
        width: 100%

    .btn
        text-shadow: none
        border-color: $black
        color: $black

    a:link
        color: $blue

    .form-control
        border-width: 0
        border-bottom: 2px
