// SYSTEM CONFIGS
$rounding-precision = 5

// BREAKPOINTS
$bp-mobile          = 480px
$bp-tablet          = 768px
$bp-lappy           = 1024px
$bp-desktop         = 1440px



$blue               = #0275d8
$blue-green         = #5bc0de
// $blue-green         = #207f9c
$green              = #5cb85c
$yellow             = #f0ad4e
$red                = #d9534f


$white              = #fff
$black              = #363636
$gray               = lighten($black, 50%)
$gray-light         = lighten($black, 80%)


$DARKEN_COLORS      = 20%

$blue-dark          = darken($blue, $DARKEN_COLORS)
$green-dark         = darken($green, $DARKEN_COLORS)
$yellow-dark        = darken($yellow, $DARKEN_COLORS)
$red-dark           = darken($red, $DARKEN_COLORS)


// COMPONENT DIMENSIONS
$border-radius      = 3px

$mt = $mb = 0.5rem
$ml = $mr = 1rem

$component-padding  = $mt $ml

$transition         = 0.2s ease



// UI COLORS
$primary-color          = $blue
$primary-color-dark     = $blue-dark
$secondary-color        = lighten($black, 60%)
$info-color             = $blue-green
$success-color          = $green
$success-color-dark     = $green-dark
$warning-color          = $yellow
$warning-color-dark     = $yellow-dark
$danger-color           = $red
$danger-color-dark      = $red-dark


$disabled-color         = $gray-light
$disabled-bg-color      = lighten($gray-light, 50%)
$border-color           = $gray-light


$app-topbar-bg-color    = $white
